<%= form_for(@exercise) do |f| %>
  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% @exercise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label @exercise.question %><br />  
    <%= hidden_field "exercise[expression_id]", @exercise.expression_id %>   
  </div>
  
  <div class="field">
    <%= f.label :language_answer %><%= ": " + @exercise.language_answer %>
    <%= f.hidden_field :language_answer %>   
  </div>
  
  <div class="field">
    <%= f.label :answer %><br />
    <%= f.text_field :answer %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
