<h1>Listing exercises</h1>

<table>
  <tr>
    <th>Expression</th>
    <th>Answer</th>
    <th>Language answer</th>
    <th>Correct?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exercises.each do |exercise| %>
  <tr>
    <td><%= exercise.question %></td>
    <td><%= exercise.answer.capitalize %></td>
    <td><%= exercise.language_answer %></td>
    <td><%= exercise.humanize_correct_answer %></td>
    <td><%= link_to 'Show', exercise %></td>
  </tr>
<% end %>
</table>

<br />

<%= render 'new', language: "English" %>
