<p>
  <b>Expression:</b>  
  <%= @exercise.question %>  
</p>

<p>
  <b>Answer:</b>
  <%= @exercise.answer.capitalize %>
</p>

<p>
  <b>Is it correct?</b> <%= @exercise.humanize_correct_answer %>
</p>

<p>
  <% if not @exercise.correct_answer %>
  <b>Correct answer:</b>
  <%= @exercise.the_correct_answer  %>
  <% end %>
</p>

<%= render 'new', language: @exercise.language_answer, book: @book, lesson: @lesson %>

<%= link_to 'Back', exercises_path %>
