<p>
  <b>Expression:</b>  
  <%= @exercise.question %>  
</p>

<p>
  <b>Answer:</b>
  <%= @exercise.answer %>
</p>

<p>
  <b>Language answer:</b>
  <%= @exercise.language_answer %>
</p>

<p>
  <b>Correct answer:</b>
  <%= @exercise.correct_answer %>
</p>
<%= render 'new', language: @exercise.language_answer %>

<%= link_to 'Back', exercises_path %>
