<!DOCTYPE html>
<html>
<head>
  <title>English</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Exercícios", exercises_path %> <br />
<%= link_to "Expressões", expressions_path %> <br />

  <div class="flash">
    <% flash.each do |type, message| %>
      <div class="message <%= type %>">
        <p><%= message %></p>
      </div>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
